body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  select, button {
    margin-top: 10px;
  }
  
  button {
    cursor: pointer;
    padding: 8px;
    margin-right: 5px;
  }
  
  .quote {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .dark-mode {
    background-color: #333;
    color:black
  }
  