body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
  margin: 0; 
  background-image: url('grad.avif');
  background-size: cover;
}

.container {
    /* max-width: 90%; */
    width: 40%;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 6px lightpink;
  }
  .container header{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    font-family:cursive

  }
  select, button {
    margin-top: 10px;
    justify-content: center;
    background-color:plum;
    border: 1px solid white;
    border-radius: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .container{
    font-weight: 300;
  }
  .container fonts{
    font-weight: 600;
  }
  button {
    cursor: pointer;
    padding: 4px;
    margin-right: 60px; 
    justify-content: space-between;
  }
  
  .quote {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    align-items: center;
    font-family: Indie Flower;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .dark-mode {
    background-color: black;
    color:black;
    background-image: url('night.avif');
    background-size: cover;
  }
  .dark-mode .container{
    background-color: white;
    box-shadow: 15px 10px 9px gray;
  }

.dark-mode button{
    margin-top: 10px;
    justify-content: center;
    background-color:lightblue;
    border: 1px solid cornflowerblue;
    border-radius: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
.dark-mode select{
     margin-top: 10px;
    justify-content: center;
    background-color:lightblue;
    border: 1px solid cornflowerblue;
    border-radius: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (max-width: 780px) {
  .container {
    width: 70%; 
    margin-bottom: 14px;
    height: 350px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: lightskyblue;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 9px 9px 6px lightpink;
  }
  button {
    width: 80%; 
    margin-top: 10px; 
    margin-left: 30px;
  }
  .container header{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family:cursive
  }
  .quote {
    margin-top: 10px;
    font-size: 5px;
    line-height: 1.1;
    align-items: center;
    font-family: Indie Flower;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container fontset{
    font-size: 5px;
  }

}
  
  